/model
/output
/__pycache__
*~
*.pyc
*.tsv1
*.tsv2
*.lock
*.log
*.7z
*.zip
*.sha256sum
*.vcxproj.filters
*.vcxproj.user
.*config
.*lan*
.*mat
*.so
*.so.69
*.so.69.1
.DS_Store
.idea/
.vs/
.vscode/
Debug/
Release/
envs/
node_modules/
npm-debug.log*
packages/
x64/
obj/
CMakeCache.txt
ZERO_CHECK.vcxproj
cmake_install.cmake
CMakeFiles/*
ALL_BUILD.vcxproj
*.TMP
TestResults/*
*.dll
*.nupkg
*.snupkg
*.pdb
*.ipdb
*.coverage
*.lib
*.iobj
*.ilk
*.exp

